<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sensei</title>
    <link rel="stylesheet" href="../../mobileAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="../../mobileAssets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../mobileAssets/css/Animated-Scroll-Down-Mouse.css">
    <link rel="stylesheet" href="../../mobileAssets/css/Bold-BS4-Footer-Simple.css">
    <link rel="stylesheet" href="../../mobileAssets/css/Dark-footer-with-social-media-icons.css">
    <link rel="stylesheet" href="../../mobileAssets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../../mobileAssets/css/Grid-Overlay-Hero-Section-with-Scroll-Down-Icon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../../mobileAssets/css/Paralax-Hero-Banner-1.css">
    <link rel="stylesheet" href="../../mobileAssets/css/Paralax-Hero-Banner.css">
    <link rel="stylesheet" href="../../mobileAssets/css/Social-Icons.css">
</head>

<body style="background-color: rgba(0,0,0,0.1);">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="#">Sensei</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Apple Music</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Spotify</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Tidal</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Youtube</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#"></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white" style="background: linear-gradient(to right, #f7971e, #ffd200);">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0"><img class="rounded-circle img-fluid border-white" src="../../mobileAssets/img/01.jpg" style="padding: 14px;background-color: rgba(238,9,121,0);"></h1>
                <h2 class="text-center pulse animated masthead-subheading mb-0" style="padding: 0px;margin: 0px;">Come Free Your Mind with Sensei</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-end bounce animated infinite" style="height: 143px;">
            <p style="font-size: 34px;"><i class="icon ion-chevron-down" style="width: 0px;"></i></p>
        </div>
    </header>
    <div class="jumbotron jumbotron-fluid hero-technology" style="background-image: url(&quot;../../mobileAssets/img/IMG_9492.jpeg&quot;);background-repeat: repeat;background-position: bottom;background-size: cover;margin: 0px;height: 499px;">
        <h1 class="hero-title">Who is Sensei?<br></h1>
        <p class="hero-subtitle"><br>As a young up and coming artist, I'm constantly looking at the world as my canvas.... The passion to curate runs deep within my vessel. &nbsp;Leading me to illustrate what I interpret in this game we call “Life”, by habitually capturing inspiration
            from my environment, interactions, emotion, and experiences. My mission is to touch as many hearts as I possibly can through my self expression, while encouraging others to do the same. I express myself freely being a recording artist, audio
            engineer, visual director.... &amp; Sensei full-time.&nbsp;<br></p>
    </div>
    <div class="jumbotron text-center d-flex hero-technology" style="margin: 0px;background-image: url(&quot;../../mobileAssets/img/IMG_9807.jpg&quot;);background-position: 0%,-50%;background-repeat: repeat-y;height: 589px;">
        <h1 class="hero-title"><br>ēkwəˈlibrēəm<br>out now!</h1>
    </div>
    <ul class="list-inline text-center">
        <li class="list-inline-item"><a href="#" style="width: auto;height: auto;"><img src="../../mobileAssets/img/listen-on-apple-music-badge.png" style="width: 108px;height: auto;margin: -17px;"></a></li>
        <li class="list-inline-item"><a href="#" style="padding: 0px;margin: 0px;"><img src="../../mobileAssets/img/tidal.png" style="height: auto;width: 161px;padding: 0px;margin: -20px;"></a></li>
        <li class="list-inline-item"><a href="#"><img src="../../mobileAssets/img/Spotify_Logo_CMYK_Green.png" style="width: 127px;margin: -23px;"></a></li>
    </ul>
    <div class="text-center" style="height: 199px;">
        <div class="embed-responsive embed-responsive-16by9 d-inline-flex" style="height: auto;width: 355px;padding: 0px;margin: 0px;background-size: cover;max-width: auto;background-position: center;"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0l9kzS_B7gg"></iframe></div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3 class="text-center"><br>“A Free Spirit that creates at will, only using the purist of energy..... ”<br><br></h3>
                        <h3 class="text-center"><br>“A true master knows they’re a student forever”&nbsp;<br><br></h3>
                        <h3 class="text-center"><br>“Free yourself from the confinement of your mind....”<br><br></h3>
                        <h3 class="text-center"></h3>
                        <h3 class="text-center">Sensei</h3>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="text-center text-white m-0 small">For all audio Mixing & Mastering services contact: senseichops111@gmail.com</p>
                    <p class="text-center text-white m-0 small">For Booking & Features contact: lotubooking@gmail.com</p>
                    </div>
                </div>
                <p class="copyright">John Pizzitola © 2019</p>
            </div>
        </footer>
    </div>
    <script src="../../mobileAssets/js/jquery.min.js"></script>
    <script src="../../mobileAssets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../mobileAssets/js/Grid-Overlay-Hero-Section-with-Scroll-Down-Icon.js"></script>
    <script src="../../mobileAssets/js/Paralax-Hero-Banner.js"></script>
</body>

</html>